.contact-wrapper-3 .contact-content {
    background-color: #000;
    border-radius: 0 0 5px 0;
    padding: 40px;
    padding-left: 0;
}

.section-title h2 {
    text-transform: capitalize;
    color: #fff;
}