.about-wrapper {
    margin-top: 85px;
}

.testimonial-wrapper .testimonial-items .client-items .client-image {
    width: 90%;
    height: 230px;
    border-radius: 5%;
    background-size: contain; 
    background-position: bottom; 
  }

